n8n/clipforge-postiz-poster.json
{
  "name": "ClipForge → Postiz TikTok poster (scheduled, Level B)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "cron",
      "name": "Every 15 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.CLIPFORGE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read_rows",
      "name": "Read ready rows",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        220
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "={{ $env.CLIPFORGE_SHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Accounts",
          "mode": "name"
        },
        "options": {}
      },
      "id": "read_accounts",
      "name": "Read Accounts tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter_ready",
      "name": "Only status = ready",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        660,
        220
      ]
    },
    {
      "parameters": {
        "jsCode": "\"use strict\";\n/**\n * Scheduling core for the ClipForge → Postiz poster (Level B).\n *\n * Pure, dependency-free. Mirrors exactly what the n8n \"Plan schedule\" Code\n * node runs, so it can be unit-tested with plain `node` (see schedule.test.js).\n *\n * Given the \"ready\" sheet rows, the per-account config (role, country slots,\n * timezone), the current time, and the slots already taken, it assigns each\n * variant video to the NEXT free daily slot of every account mapped to that\n * role — in the account's own timezone. It NEVER double-books a slot and never\n * schedules in the past.\n *\n * It does NOT talk to any network, spoof anything, or touch fingerprints — it\n * only decides \"which video goes to which account at which UTC instant\".\n */\n\nconst ROLES = [\"narator\", \"comentator\", \"povestitor\"];\n\n/** Local wall-clock (y,mo,d,h,mi) in `tz` → the UTC Date for that instant. */\nfunction localToUTC(y, mo, d, h, mi, tz) {\n  // Treat the wall-clock as if UTC, then correct by the zone's offset at that\n  // moment. One correction pass is exact except within the DST switch hour.\n  const guess = Date.UTC(y, mo - 1, d, h, mi, 0);\n  const off = tzOffsetMinutes(new Date(guess), tz);\n  return new Date(guess - off * 60000);\n}\n\n/** Minutes to ADD to UTC to get local time in `tz` at `date` (e.g. +120 CEST). */\nfunction tzOffsetMinutes(date, tz) {\n  const dtf = new Intl.DateTimeFormat(\"en-US\", {\n    timeZone: tz, hour12: false,\n    year: \"numeric\", month: \"2-digit\", day: \"2-digit\",\n    hour: \"2-digit\", minute: \"2-digit\", second: \"2-digit\",\n  });\n  const p = {};\n  for (const part of dtf.formatToParts(date)) p[part.type] = part.value;\n  // 'en-US' can emit hour '24' at midnight — normalize to 0.\n  const hour = p.hour === \"24\" ? 0 : Number(p.hour);\n  const asUTC = Date.UTC(+p.year, +p.month - 1, +p.day, hour, +p.minute, +p.second);\n  return Math.round((asUTC - date.getTime()) / 60000);\n}\n\n/** {year,month,day} of `date` as seen in `tz` (for iterating days locally). */\nfunction ymdInTz(date, tz) {\n  const dtf = new Intl.DateTimeFormat(\"en-CA\", {\n    timeZone: tz, year: \"numeric\", month: \"2-digit\", day: \"2-digit\",\n  });\n  const [y, mo, d] = dtf.format(date).split(\"-\").map(Number);\n  return { y, mo, d };\n}\n\nfunction parseSlots(slots) {\n  // Accept \"09:00,13:00,19:00\" or [\"09:00\", ...]; sorted ascending.\n  const arr = Array.isArray(slots) ? slots : String(slots || \"\").split(/[,\\s]+/);\n  return arr\n    .map((s) => s.trim())\n    .filter(Boolean)\n    .map((s) => {\n      const [h, m] = s.split(\":\").map(Number);\n      return { h, m, label: s };\n    })\n    .filter((s) => Number.isInteger(s.h) && Number.isInteger(s.m))\n    .sort((a, b) => a.h - b.h || a.m - b.m);\n}\n\n/** Videos (URLs) of one role from one ready row. Newline-separated = split parts. */\nfunction videosOfRole(row, role) {\n  const raw = row[`${role}_url`] || row.urls?.[role] || \"\";\n  const list = Array.isArray(raw) ? raw : String(raw).split(/\\r?\\n/);\n  return list.map((u) => u.trim()).filter(Boolean);\n}\n\n/**\n * @param {object} p\n * @param {Array}  p.readyRows  sheet rows with nr, caption/DESCRIERE, *_url\n * @param {Array}  p.accounts   [{account_id, role, country, integration_id, slots, tz, caption_suffix}]\n * @param {Date}   p.now        current instant\n * @param {object} [p.usedSlots] {account_id: [isoString,...]} already booked\n * @param {number} [p.horizonDays=14] how far ahead to look for a free slot\n * @returns {{jobs: Array, usedSlots: object}}\n */\nfunction planSchedule({ readyRows, accounts, now, usedSlots = {}, horizonDays = 14 }) {\n  const used = {};\n  for (const k of Object.keys(usedSlots)) used[k] = new Set(usedSlots[k]);\n\n  const jobs = [];\n  for (const acc of accounts) {\n    if (!ROLES.includes(acc.role)) continue;\n    const tz = acc.tz || \"UTC\";\n    const slots = parseSlots(acc.slots);\n    if (!slots.length) continue;\n    if (!used[acc.account_id]) used[acc.account_id] = new Set();\n\n    for (const row of readyRows) {\n      const caption = (row.caption ?? row.DESCRIERE ?? \"\").toString();\n      for (const videoUrl of videosOfRole(row, acc.role)) {\n        const slotISO = nextFreeSlot(now, tz, slots, used[acc.account_id], horizonDays);\n        if (!slotISO) break; // horizon exhausted for this account\n        used[acc.account_id].add(slotISO);\n        jobs.push({\n          account_id: acc.account_id,\n          integration_id: acc.integration_id,\n          role: acc.role,\n          country: acc.country,\n          nr: row.nr ?? row.NR ?? null,\n          video: videoUrl,\n          caption: acc.caption_suffix ? `${caption} ${acc.caption_suffix}`.trim() : caption,\n          schedule: slotISO,\n        });\n      }\n    }\n  }\n\n  const out = {};\n  for (const k of Object.keys(used)) out[k] = [...used[k]].sort();\n  return { jobs, usedSlots: out };\n}\n\nfunction nextFreeSlot(now, tz, slots, usedSet, horizonDays) {\n  for (let dayOffset = 0; dayOffset <= horizonDays; dayOffset++) {\n    const base = new Date(now.getTime() + dayOffset * 86400000);\n    const { y, mo, d } = ymdInTz(base, tz);\n    for (const s of slots) {\n      const utc = localToUTC(y, mo, d, s.h, s.m, tz);\n      if (utc.getTime() <= now.getTime()) continue; // past\n      const iso = utc.toISOString();\n      if (usedSet.has(iso)) continue; // already booked\n      return iso;\n    }\n  }\n  return null;\n}\n\n\n\n// ── n8n glue ────────────────────────────────────────────────────────────────\n// Inputs (set via node references in n8n):\n//   $('Read ready rows').all()  → the claimed rows (status was 'ready')\n//   $('Read Accounts tab').all()→ the account map rows\nconst rows = $('Read ready rows').all().map(i => i.json);\nconst accounts = $('Read Accounts tab').all().map(i => ({\n  account_id: i.json.account_id,\n  role: (i.json.role || '').trim(),\n  country: i.json.country,\n  integration_id: i.json.postiz_integration_id,\n  slots: i.json.slots,\n  tz: i.json.timezone || 'UTC',\n  caption_suffix: i.json.caption_suffix || '',\n}));\n\n// usedSlots: reuse what Postiz already has scheduled if you feed it in; empty =\n// this run books from scratch (Postiz itself rejects exact-duplicate times).\nconst now = new Date();\nconst { jobs } = planSchedule({ readyRows: rows, accounts, now });\n\n// Optional jitter ±JITTER_MIN so posts aren't on the exact minute across accounts.\nconst JITTER_MIN = 12;\nfor (const j of jobs) {\n  const d = new Date(j.schedule);\n  d.setMinutes(d.getMinutes() + Math.floor((Math.random() * 2 - 1) * JITTER_MIN));\n  j.schedule = d.toISOString();\n}\n\nreturn jobs.map(j => ({ json: j }));\n"
      },
      "id": "plan",
      "name": "Plan schedule (tested core)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.POSTIZ_URL }}/public/v1/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"type\": \"schedule\",\n  \"date\": \"={{ $json.schedule }}\",\n  \"integrations\": [{ \"id\": \"={{ $json.integration_id }}\" }],\n  \"content\": [{ \"content\": \"={{ $json.caption }}\",\n                \"media\": [{ \"url\": \"={{ $json.video }}\" }] }]\n}",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1,
              "batchInterval": 90000
            }
          }
        }
      },
      "id": "postiz",
      "name": "Postiz → schedule TikTok",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        300
      ]
    }
  ],
  "connections": {
    "Every 15 min": {
      "main": [
        [
          {
            "node": "Read ready rows",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Accounts tab",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read ready rows": {
      "main": [
        [
          {
            "node": "Only status = ready",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only status = ready": {
      "main": [
        [
          {
            "node": "Plan schedule (tested core)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Plan schedule (tested core)": {
      "main": [
        [
          {
            "node": "Postiz → schedule TikTok",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "generatedBy": "n8n/build-workflow.js",
    "source": "n8n/lib/schedule.js"
  }
}